PORT=5000
MONGODB_URI=mongodb+srv://thanhluan_db:thanhluan1903@cluster0.ef5soxr.mongodb.net/minishopee
FRONTEND_URL=http://localhost:3001


#mongodb+srv://thanhluan_db:thanhluan1903@cluster0.ef5soxr.mongodb.net/?appName=Cluster0